@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #1e2733, // The primary color of your application
  accent: #6b6349 // The accent and secondary color
));

@import "~vue-material/dist/theme/all"; // Apply the theme

body {
    background-color: #1e2733;   // change to michael's color theme
    color: #fff;
}

span {
    color: #EBC86E;
}
